@import './../../style/variable.scss';
.header{
    color: $primary;
    font-size: 50px;    
    float: left;
}

.header-row{
    margin-top: 20px;
}

.icon{
    display: inline;
    float: right;
}

.header-hr{
    height: 4px !important;
    color: $primary;
    background-color: $primary;
}