@import '~bootstrap/scss/bootstrap.scss';
@import './variable.scss';

body{
  background-color: $background;
  height: 100%;
  // position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  // overflow: scroll;
}

.h-max{
  min-height: 100%;
}

.link-in-nav:hover{
  color: #000;
}

a:hover{
  color: unset !important;
  text-decoration: none;
}