@import './../style/custom.scss';

// mc-back
// mc-title
// mc-hr
// mc-text

.mc-back{
  height: 100%;
  background-color: $secondary-opacity;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 $secondary;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

.mc-title{
  font-size: 25px;
  color: $primary;
}

.mc-hr{
  color: $primary;
  background-color: $primary;
}